
textarea {
  height: 50px;
  width: 510px;
  padding: 10px;
  border: 1px solid #ddd;
}

body {
  background-color: blue;
  color: white;
  background-image:url("http://devbootcamp.com/imgs/teaching-large-sherif.png");

}
